
<div style="margin-top: 10px;">
    <div class="card mx-3 mt-n5 shadow-lg">
        <div class="card-title text-end">
            Derniere Mise à jour {{ formationService.formation[0].lastUpdate_Date }}
        </div>

        <div class="card-body container">      
            <div class="card-body">
                    <div style="white-space: pre-line;">
                        {{ formationService.formation[0].description }}
                    </div>
            </div>
        </div>
    </div>
</div>
