<div>
    <div>
            <div class="container">
                
              <div class="text-center">
                <span *ngIf="packService.waitingResponse">
                  <img src="../../../assets/loader.gif" alt="" width="30px">
                </span>
              </div>

              

              <div *ngIf="packService.showAlertError"  class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <span> {{ packService.alert.errorMessage }} </span>
                <button type="button" (click)="packService.closeErrorAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
           
            <div *ngIf="packService.showAlertSucess"  class="alert alert-success alert-dismissible fade show" role="alert">
               <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <span> {{ packService.alert.successMessage}} </span>
                <button type="button" (click)="packService.closeErrorAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

              
                <div class="row" style="margin-top: 10px;">
                  <div class="col">
                    <button (click)="refresh()" [disabled]="packService.waitingResponse" style="float: right; margin-right: 5px;" class="btn btn-primary"> 
                      <span *ngIf="!packService.waitingResponse" > Actualiser </span> 
                      <span *ngIf="packService.waitingResponse"> Actualisation... </span>
                      <i class="fa fa-refresh" [ngClass]="packService.waitingResponse == false ? 'fa fa-refresh':'fa fa-refresh fa-spin fa-1x fa-fw'" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center" style="margin-top: 10px;">
                    <div class="col" *ngFor="let pack of packService.listPack" (click)="dataPackChoose = pack" >
                        <div class="card">
                            <img [src]="pack.imgUrl" class="card-img-top"
                              alt="Hollywood Sign on The Hill" style="height: 200px" (click)="changePp(modalimg, pack)"/>
                            <div class="card-body">
                              <h5 class="card-title"> {{ pack.intitule }} <em style="float: right;">{{ pack.prix }} XAF</em></h5>
                              <div style="white-space: pre-line">
                                {{ pack.description | slice:0: 150 }}
                                <a class="btn btn-sm btn-white text-primary me-2" *ngIf="pack.description.length > 150" (click)="openModal(packDetails, pack)">Voir plus...</a>

                              </div>
                            </div>
                            <div class="card-footer">
                                <span> <button class="btn btn-primary" (click)="goToUpdate(pack)"> 
                                           Modifier <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button> 
                                </span>
                            </div>
                          </div>
                    </div>
                  
                  </div>
            </div>
    </div>
</div>


<ng-template class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true" #modalimg>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Televerser une Image </h5>
    <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
   <div class="file-loading btn btn-danger">
     <input id="input-b9"  name="input-b9" accept="image/png, image/jpeg, image/jpg" type="file" (change)="setPp($event)">
   </div>

   <div class="text-center">
     <img [src]="imgChoose"  width="50%" height="150px" style="border-radius: 50%;" alt="...">
   </div>
  </div>

  <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Annuler</button>
     <button type="button" class="btn btn-primary" (click)="DoUpdateImg()">Enregistrer</button>
  </div>                 
</ng-template>

<ng-template class="modal fade" #packDetails let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Details </h5>
    <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true" style="font-size: 18px;">&times;</span>
    </button>
  </div>

  <div class="modal-text text-center">
    <h2> Plus d'info sur: {{ dataPackChoose.intitule}} </h2>

    <div class="modal-text" style="white-space: pre-line">
        {{ dataPackChoose.description }}
    </div>
  </div>

  <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Quitter</button>

   </div>  
</ng-template>